.auth {
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form {
  padding: 25px 40px;
  border: 2px solid #2c3e50;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.form-title {
  margin: 0 0 20px;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: flex-start;
  width: 250px;
}

.form-input input {
  width: 100%;
  box-sizing: border-box;
}

.auth-form button {
  margin-top: 10px;
  background-color: #2c3e50;
  padding: 8px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}